[project]
	description = BEM Test gallery project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/migs911
[access "refs/for/refs/*"]
	read = group user/migs911
	push = group user/migs911
	label-Code-Review = -2..+2 group user/migs911
	label-Verified = -1..+1 group user/migs911
	rebase = group user/migs911
	removeReviewer = group user/migs911
	submit = group user/migs911
[access "refs/heads/*"]
	read = group user/migs911
	create = group user/migs911
	push = +force group user/migs911
	pushMerge = group user/migs911
[access "refs/tags/*"]
	push = +force group user/migs911
	pushTag = group user/migs911
	pushSignedTag = group user/migs911
